<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Number</th>
        </tr>
        <br>

        <th:block th:each="car : ${cars}">
            <tr>
                <td th:text="${car.getName()}"/>
                <td th:text="${car.getModel()}"/>
                <td th:text="${car.getNumber()}"/>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>